/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa; /* Fundo claro */
  font-family: 'Arial', sans-serif;
  color: #333; /* Texto mais suave */
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Arial', sans-serif;
  color: #d52121; /* Cor vermelha escura */
}

h2 {
  margin-top: 20px;
}

a {
  color: #FFD700; /* Dourado */
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* Navbar */
.navbar {
  background-color: #d52121; /* Vermelho escuro */
  padding: 0.8rem 1rem;
}

.navbar-nav .nav-link {
  color: #FFD700 !important; /* Dourado para os links */
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  color: #fff !important; /* Branco no hover */
}

.navbar .whatsapp-btn {
  background-color: #25D366;
  color: #fff;
  font-size: 1.2rem;
  padding: 12px 20px;
  border-radius: 50px;
  transition: background-color 0.3s;
  margin-left: 20px;
}

.navbar .whatsapp-btn:hover {
  background-color: #128C7E;
}

.navbar-collapse {
  justify-content: center;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: 600;
  color: #FFD700;
}

.navbar-toggler {
  border-color: #FFD700;
}

.navbar-toggler-icon {
  border: #FFD700;
}

/* Seções */
.section {
  padding: 20px;
  height: 100vh; /* Ocupa 100% da altura da viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; /* Evita que o conteúdo transborde */
}

.section-title {
  color: #d52121; /* Vermelho escuro */
  margin-bottom: 20px;
}

.section p {
  font-size: 2rem; /* Fonte maior para outras seções */
  line-height: 1.8;
}

/* Seção Home */
#home h2 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #d52121; /* Vermelho escuro */
}

h3 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

#home p {
  font-size: 2rem;
  color: #333;
}

#home a {
  background-color: #FFD700;
  padding: 18px 50px;
  color: #000;
  border-radius: 50px;
  transition: background-color 0.3s;
}

#home a:hover {
  background-color: #d52121; /* Vermelho escuro */
  color: #fff;
}

/* Seção Sobre */
#sobre img {
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  max-width: 60%;
}

/* Layout imagem ao lado do texto */
.image-left, .image-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.image-left img, .image-right img {
  width: 45%; /* Ajusta a largura da imagem para 45% */
  margin-left: 20px;
}

.image-left .text, .image-right .text {
  width: 50%; /* Ajusta o texto para ter 50% de largura */
  padding: 20px;
}

.image-left .text p, .image-right .text p {
  font-size: 1.4rem; /* Ajusta o tamanho da fonte */
  line-height: 1.8;
}

/* Mapa */
#map {
  height: 300px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.img-carro {
  width: 400px;
  margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
  #home h2 {
    font-size: 2rem;
  }

  .section-title h2 {
    font-size: 1.8rem;
  }

  #home p, #sobre p {
    font-size: 1.2rem;
  }

  .navbar-nav {
    text-align: center;
  }

  .image-left, .image-right {
    flex-direction: column;
    text-align: center;
  }

  .image-left img, .image-right img {
    margin-bottom: 20px;
    width: 80%; /* Imagem ocupa 80% da largura */
  }

  .navbar-collapse {
    text-align: center;
  }

  .navbar-nav .nav-link {
    font-size: 1rem;
  }
}

/* Rodapé */
footer {
  background-color: #d52121; /* Vermelho escuro */
  color: #FFD700; /* Dourado */
  padding: 20px 0;
  text-align: center;
}

footer a {
  color: #FFD700; /* Dourado */
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #fff; /* Branco no hover */
}
